## Test 3

In a database there are 3 tables: one with the orders made by customers, another with the items in each order, and a third with information about each customer. 

The relationships/information are defined as follows:

-The Orders table contains an order ID (orderId) and a customer ID (customerId)						
-The Items table contains the item ID (itemId) and the order ID (orderId). There's also a field with the item price (price).						
-The Customers table has the customer ID (customerId)

## IN database_schema.sql have the queries to create and insert data in the database sqlite

#### execute
sqlite3 ecommerce.db < database_schema.sql

Please answer the following questions. For open-ended questions, feel free to use any language you're comfortable with (SQL Server, MySQL, etc.) or even Excel or pseudocode.

In [8]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('ecommerce.db')

In [35]:

print("\n1. What query would you use to find out how many customers purchased item ID ='3543'?")
df_1 = pd.read_sql("""
SELECT COUNT(DISTINCT C.customerId) 
FROM Items I 
INNER JOIN Orders O ON I.orderId = O.orderId 
INNER JOIN Customers C ON O.customerId = C.customerId 
WHERE I.itemId = '3543'
""", conn)
df_1

1. What query would you use to find out how many customers purchased item ID ='3543'?

   COUNT(DISTINCT C.customerId)
0                             1

## OPTION C: 
Correct syntax, use DISTINCT TO DROP DUPLICATES

itemId ambiguity.
If itemId is unique (line ID), it can’t repeat across orders and there’s no link to a product catalog.
If itemId is a product ID, repetition is expected, but the model lacks a Products table and a line PK. but in the question you said The Items table contains the item ID (itemId) and the order ID (orderId). There's also a field with the item price (price).

In [29]:

print("2. How do you obtain the following? Give the total price of the 5 orders with the highest total price.")
df_2 = pd.read_sql("""
SELECT SUM(I.price), O.orderId 
FROM Orders O 
INNER JOIN Items I ON I.orderId = O.orderId 
GROUP BY O.orderId 
ORDER BY SUM(I.price) DESC 
LIMIT 5;


""", conn)
df_2

2. How do you obtain the following? Give the total price of the 5 orders with the highest total price.

   SUM(I.price)  orderId
0        234.50        4
1        199.99        6
2        144.48        2
3         84.96        1
4         59.81        7

## OPTION D: 
Correct syntax
Group by order
Sort by sum of prices (more useful for analysis)
Display the 5 most expensive orders

In [32]:

print("3. Write a query that allows you to find the number of orders placed by customer ID = '3265' that contain item ID = '223'")
df_3 = pd.read_sql("""
SELECT COUNT(DISTINCT o.orderId) as number_of_orders
FROM Orders o
INNER JOIN Items i ON o.orderId = i.orderId
WHERE o.customerId = '3265' 
  AND i.itemId = '223';

""", conn)

df_3

3. Write a query that allows you to find the number of orders placed by customer ID = '3265' that contain item ID = '223'

   number_of_orders
0                 1

In [33]:
print("4. To determine whether the presence of a particular item in an order (in this case, item ID = '113') increases the amount spent on that order, we want to check the average price of orders that contain item ID = '113' and those that don't. Write a query to find this information.")
df_3 = pd.read_sql("""
SELECT 
    AVG(CASE WHEN has_item_113 = 1 THEN total_amount END) as avg_with_item_113,
    AVG(CASE WHEN has_item_113 = 0 THEN total_amount END) as avg_without_item_113,
    COUNT(CASE WHEN has_item_113 = 1 THEN 1 END) as orders_with_item_113,
    COUNT(CASE WHEN has_item_113 = 0 THEN 1 END) as orders_without_item_113
FROM (
    SELECT 
        o.orderId,
        o.totalAmount as total_amount,
        CASE 
            WHEN EXISTS (
                SELECT 1 FROM Items i 
                WHERE i.orderId = o.orderId AND i.itemId = '113'
            ) THEN 1 
            ELSE 0 
        END as has_item_113
    FROM Orders o
) order_analysis;

""", conn)

df_3

4. To determine whether the presence of a particular item in an order (in this case, item ID = '113') increases the amount spent on that order, we want to check the average price of orders that contain item ID = '113' and those that don't. Write a query to find this information.

,avg_with_item_113,avg_without_item_113,orders_with_item_113,orders_without_item_113
0,125.75,124.711429,1,7